<% layout('layout') -%>


  <div class="card-profile container">
    <h2 class="text-center">User Profile Card</h2>
    <!-- <img src="/images/user_1.jpg" alt="John" style="width:100%"> -->
    <img src="<%= user.profile.picture %>" class="img-circle img-fluid img-center" alt="user_image">
    <h1>
      <%= user.profile.name %>
    </h1>
    <p class="title-profile">CEO & Founder, Eazy IT</p>
    <p>Email: <%= user.email %>
    </p>
    <!-- <p>Address: <%= user.address %></p> -->
    <% if (user.address==="" || typeof user.address==='undefined' ) { %>
      <p>Address: <span style="color: #c0392b; font-weight: bold">You currently have no listed address</span></p>

      <% } else { %>

        <p>Address: <%= user.address %>
        </p>

        <% } %>
          <div style="margin: 24px 0;">
            <a href="#" class="my-a-tags-profile"><i class="fa fa-dribbble"></i></a>
            <a href="#" class="my-a-tags-profile"><i class="fa fa-twitter"></i></a>
            <a href="#" class="my-a-tags-profile"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="my-a-tags-profile"><i class="fa fa-facebook"></i></a>
          </div>
          <a href="/edit-profile" class="btn btn-primary profile-btn">Edit Profile</a>
  </div>